*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #8a307f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#wrapper{
    height: 92vh;
    width: 87vw;
    margin: 0;
}

#second{
    justify-content: center;
}

#second .secondDiv{
    height: 2.5rem;
    width: 20rem;
    margin: 0;
}